@charset "Utf-8";

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F3E5D8;
}
main{
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 500px;
    height: 1600px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 20px;
}
.omelete{
    max-width: 450px;
    margin: auto;
    padding-top: 25px;

}
.omelete h1{
    padding-top: 20px;
    text-align: left;
}
.omelete img{
    margin: auto;
    width: 100%;
    border-radius: 20px;
}
.omelete p{
    font-size: .8em;
    padding-top: 20px;
}
#prep{
    font-size: 1em;
    text-indent: 5px;
    padding-top: 05px;
    padding-bottom: 10px;
    color: rgb(150, 41, 74);
    font-family: Arial, Helvetica, sans-serif;
}
.time{
    background-color: #FFF8FC;
    margin: 20px;
    border-radius: 10px;
}
.time ul {
    list-style-position: inside;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 30px;
    line-height: 2em;
}
.time li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    padding-left: 10px;
}
.ingre{
    list-style-position: inside;
    padding-left: 30px;
    padding-bottom: 20px;
    
}
.ingre h2{
    color: rgb(136, 27, 27);
    padding-bottom: 20px;
    font-size: 1.8em;
}
.ingre li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    line-height: 2em;
}
.linha{
    width: 85%;
    background-color: rgba(0, 0, 0, 0.089);
    margin-left: 30px;
    height: 1px;
    display: block;
}
#instru{
    padding-top: 20px;
}
.nutri{
    color:rgb(136, 27, 27);
    padding-bottom: 20px;
    font-size: 1.8em;
    padding-left: 30px;
    padding-top: 20px;
}
.pnutri{
    padding-left: 20px;
    padding-bottom: 20px;
}
table{
    width:90%;
    border-collapse: collapse;
    margin: 20px auto;
}
th{
    border-bottom: .2px solid rgba(0, 0, 0, 0.075);
    width: 50%;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 30px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    font-weight: bold;
}
td{
    border-bottom: .2px solid rgba(0, 0, 0, 0.075);
    width: 50%;
    text-align: left;
    padding-left: 20px;
    height: 35px;
    margin-bottom: 30px;
    color: rgb(136, 27, 27);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    font-weight: bold;

}
