@charset "Utf-8";

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F3E5D8;
}
main{
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 500px;
    height: 800px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 20px;
}
.omelete{
    max-width: 450px;
    margin: auto;
    padding-top: 25px;

}
.omelete img{
    margin: auto;
    width: 100%;
    border-radius: 20px;
}
.omelete p{
    font-size: .8em;
    padding-top: 20px;
}